Repository zhangfengcdt/prollytree: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, cargo-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: license-check
        name: License Header Check
        entry: scripts/check-license.sh
        language: script
        files: \.(rs|py)$
        pass_filenames: true
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format
        entry: cargo fmt --all -- --check
        language: rust
        files: \.rs$
        pass_filenames: false

Remove unused code and examples
  Cargo.toml
  examples/agent.rs
  examples/agent_demo.rs
  examples/financial_advisor/.env.example
  examples/financial_advisor/.gitignore
  examples/financial_advisor/Cargo.toml
  examples/financial_advisor/README.md
  examples/financial_advisor/docs/architecture.md
  examples/financial_advisor/docs/enhanced.md
  examples/financial_advisor/docs/original.md
  examples/financial_advisor/examples/demo.rs
  examples/financial_advisor/src/advisor/analysis_modules.rs
  examples/financial_advisor/src/advisor/compliance.rs
  examples/financial_advisor/src/advisor/enhanced_advisor.rs
  examples/financial_advisor/src/advisor/interactive.rs
  examples/financial_advisor/src/advisor/mod.rs
  examples/financial_advisor/src/advisor/personalization.rs
  examples/financial_advisor/src/advisor/recommendations.rs
  examples/financial_advisor/src/advisor/rig_agent.rs
  examples/financial_advisor/src/advisor/workflow.rs
  examples/financial_advisor/src/benchmarks.rs
  examples/financial_advisor/src/lib.rs
  examples/financial_advisor/src/main.rs
  examples/financial_advisor/src/memory/consistency.rs
  examples/financial_advisor/src/memory/display.rs
  examples/financial_advisor/src/memory/enhanced_types.rs
  examples/financial_advisor/src/memory/mod.rs
  examples/financial_advisor/src/memory/types.rs
  examples/financial_advisor/src/security/attack_simulator.rs
  examples/financial_advisor/src/security/mod.rs
  examples/financial_advisor/src/validation/mod.rs
  examples/financial_advisor/src/visualization/display.rs
  examples/financial_advisor/src/visualization/mod.rs
Due: license-check, cargo-fmt

Remove unused code and rename examples
  Cargo.toml
  benches/git.rs
  examples/agent.rs
  examples/agent_demo.rs
  examples/diff.rs
  examples/financial_advisor/.env.example
  examples/financial_advisor/.gitignore
  examples/financial_advisor/Cargo.toml
  examples/financial_advisor/README.md
  examples/financial_advisor/docs/architecture.md
  examples/financial_advisor/docs/enhanced.md
  examples/financial_advisor/docs/original.md
  examples/financial_advisor/examples/demo.rs
  examples/financial_advisor/src/advisor/analysis_modules.rs
  examples/financial_advisor/src/advisor/compliance.rs
  examples/financial_advisor/src/advisor/enhanced_advisor.rs
  examples/financial_advisor/src/advisor/interactive.rs
  examples/financial_advisor/src/advisor/mod.rs
  examples/financial_advisor/src/advisor/personalization.rs
  examples/financial_advisor/src/advisor/recommendations.rs
  examples/financial_advisor/src/advisor/rig_agent.rs
  examples/financial_advisor/src/advisor/workflow.rs
  examples/financial_advisor/src/benchmarks.rs
  examples/financial_advisor/src/lib.rs
  examples/financial_advisor/src/main.rs
  examples/financial_advisor/src/memory/consistency.rs
  examples/financial_advisor/src/memory/display.rs
  examples/financial_advisor/src/memory/enhanced_types.rs
  examples/financial_advisor/src/memory/mod.rs
  examples/financial_advisor/src/memory/types.rs
  examples/financial_advisor/src/security/attack_simulator.rs
  examples/financial_advisor/src/security/mod.rs
  examples/financial_advisor/src/validation/mod.rs
  examples/financial_advisor/src/visualization/display.rs
  examples/financial_advisor/src/visualization/mod.rs
  examples/versioning.rs
Due: license-check, cargo-fmt

combine sql.rs
  Cargo.toml
  run_benchmarks.sh
  src/agent/persistence_prolly.rs
  src/agent/persistence_simple.rs
  src/git/git-prolly.rs
  src/main.rs
  src/sql.rs
  src/sql/glue_storage.rs
Due: license-check, cargo-fmt

Clean up tracing todo list
  src/tracing.rs
Due: license-check, cargo-fmt

Add Python LangGraph example
  python/examples/build_and_run.sh
  python/examples/langgraph.py
  python/examples/requirements.txt
Due: license-check

wip
  python/examples/build_and_run.sh
  python/examples/langgraph.py
  python/examples/langgraph_memory_example.py
Due: license-check

remove checkpoint saver
  python/examples/langgraph_memory_example.py
Due: license-check

add openai llm
  python/examples/langgraph_memory_example.py
Due: license-check

fall back to mock llm
  python/examples/langgraph_memory_example.py
Due: license-check

rename py file
  python/examples/build_and_run.sh
  python/examples/langgraph.py
Due: license-check

fix checkpointer saver
  python/examples/langgraph_prolly.py
  python/examples/run_langgraph.sh
Due: license-check

rename
  python/examples/run_examples.sh
Due: none

add langgraph diagram
  python/examples/langgraph_prolly.py
Due: license-check

add claude.md file
  CLAUDE.md
Due: none

Add Complete LangGraph + ProllyTree Integration Example with Persistent Memory Workflow (#86)
  CLAUDE.md
  python/examples/langgraph_prolly.py
  python/examples/requirements.txt
  python/examples/run_examples.sh
Due: license-check

Expose ProllyTree SQL API to Python
  pyproject.toml
  python/build_python.sh
  python/examples/sql_example.py
  python/prollytree/__init__.py
  python/tests/test_sql.py
  src/git/versioned_store.rs
  src/python.rs
Due: license-check, cargo-fmt

add sql example to run script
  python/examples/run_examples.sh
Due: none

rename langgraph example
  python/examples/langgraph_example.py
  python/examples/run_examples.sh
Due: license-check

add langgraph_chronological.py
  python/examples/langgraph_chronological.py
  python/examples/run_examples.sh
  src/python.rs
Due: license-check, cargo-fmt

add loop
  python/examples/langgraph_chronological.py
Due: license-check

add more profiles to the example
  python/examples/langgraph_chronological.py
Due: license-check

remove unused codes
  python/examples/langgraph_chronological.py
Due: license-check

improve run_example.sh
  python/examples/run_examples.sh
Due: none

Expose ProllyTree SQL API to Python and Add Chronological LangGraph TA-RAG Example (#87)
  pyproject.toml
  python/build_python.sh
  python/examples/langgraph_chronological.py
  python/examples/langgraph_example.py
  python/examples/run_examples.sh
  python/examples/sql_example.py
  python/prollytree/__init__.py
  python/tests/test_sql.py
  src/git/versioned_store.rs
  src/python.rs
Due: license-check, cargo-fmt

Add Python documentation auto-generation with Read the Docs integration
  .gitignore
  .readthedocs.yaml
  python/docs/README.md
  python/docs/advanced.rst
  python/docs/api.rst
  python/docs/build_docs.sh
  python/docs/conf.py
  python/docs/examples.rst
  python/docs/index.rst
  python/docs/quickstart.rst
  python/docs/requirements.txt
Due: license-check

Add Python documentation auto-generation with Read the Docs integration (#88)
  .gitignore
  .readthedocs.yaml
  python/docs/README.md
  python/docs/advanced.rst
  python/docs/api.rst
  python/docs/build_docs.sh
  python/docs/conf.py
  python/docs/examples.rst
  python/docs/index.rst
  python/docs/quickstart.rst
  python/docs/requirements.txt
Due: license-check

Fix Read the Docs build configuration
  .readthedocs.yaml
Due: none

Add explicit Rust installation to Read the Docs configuration
  .readthedocs.yaml
Due: none

Fix Rust environment sourcing in Read the Docs build
  .readthedocs.yaml
Due: none

Add debugging info to Read the Docs build
  .readthedocs.yaml
Due: none

Clean up Read the Docs configuration
  .readthedocs.yaml
Due: none

Simplify Python README and add documentation links
  python/README.md
Due: none

Update CLAUDE.md with recent project enhancements
  CLAUDE.md
Due: none

disable claude to push and commit codes
  CLAUDE.md
Due: none

Add multi agent example
  python/examples/langgraph_multi_agent_branching.py
  python/examples/run_examples.sh
Due: license-check

add memory access simulate
  python/examples/langgraph_multi_agent_branching.py
Due: license-check

Successfully Debugged Multi-Agent LangGraph Supervisor Pattern
  python/examples/langgraph_multi_agent_branching.py
Due: license-check

fix fmt
  python/examples/langgraph_multi_agent_branching.py
Due: license-check

wip - fix langgraph_multi_agent_branching.py
  python/examples/langgraph_multi_agent_branching.py
Due: license-check
