Repository zhangfengcdt/prollytree: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, cargo-fmt

license-check:
  name: License Header Check
  entry: scripts/check-license.sh
  language: script
  pass_filenames: true
  stages:
  - pre-commit

cargo-fmt:
  name: Cargo format
  entry: cargo fmt --all -- --check
  language: rust
  pass_filenames: false

feat: Implement Git worktree-like functionality for multi-agent systems
  CLAUDE.md
  Cargo.toml
  docs/WORKTREE_IMPLEMENTATION.md
  python/tests/test_worktree_integration.py
  src/git/mod.rs
  src/git/worktree.rs
  src/python.rs
  tests/README.md
Due: license-check, cargo-fmt

add merge tests
  docs/WORKTREE_IMPLEMENTATION.md
  python/tests/test_worktree_integration.py
  src/agent/persistence.rs
  src/git/worktree.rs
  src/python.rs
Due: license-check, cargo-fmt

fix tests
  python/tests/test_worktree_with_versioned_store.py
  src/git/worktree.rs
Due: license-check, cargo-fmt

Three-way merge function for prolly trees
  src/diff.rs
  src/tree.rs
Due: license-check, cargo-fmt

add conflict resolver
  src/agent/persistence.rs
  src/diff.rs
  src/git/storage.rs
  src/rocksdb/storage.rs
  src/storage.rs
  src/tree.rs
Due: license-check, cargo-fmt

Add merge to the versioned kv store
  src/git/types.rs
  src/git/versioned_store.rs
Due: license-check, cargo-fmt

expose python api
  CLAUDE.md
  python/examples/merge_example.py
  python/prollytree/__init__.py
  python/tests/test_merge.py
  src/python.rs
Due: license-check, cargo-fmt

fix merge example
  python/examples/merge_example.py
  python/examples/run_examples.sh
Due: license-check

revise python api doc
  python/docs/api.rst
  python/docs/examples.rst
  python/docs/quickstart.rst
Due: none

Three-way merge function for prolly trees (#91)
  CLAUDE.md
  python/docs/api.rst
  python/docs/examples.rst
  python/docs/quickstart.rst
  python/examples/merge_example.py
  python/examples/run_examples.sh
  python/prollytree/__init__.py
  python/tests/test_merge.py
  src/agent/persistence.rs
  src/diff.rs
  src/git/storage.rs
  src/git/types.rs
  src/git/versioned_store.rs
  src/python.rs
  src/rocksdb/storage.rs
  src/storage.rs
  src/tree.rs
Due: license-check, cargo-fmt

add branch merge to worktree
  CLAUDE.md
  examples/multi_agent_worktree_example.rs
  src/diff.rs
  src/git/worktree.rs
Due: license-check, cargo-fmt

fix python example
  python/tests/test_worktree_with_versioned_store.py
  src/git/worktree.rs
Due: license-check, cargo-fmt

fix unit test
  src/git/worktree.rs
Due: license-check, cargo-fmt

remove unused
  docs/WORKTREE_IMPLEMENTATION.md
Due: none

feat: Implement Git worktree-like functionality for multi-agent systems (#90)
  CLAUDE.md
  Cargo.toml
  examples/multi_agent_worktree_example.rs
  python/tests/test_worktree_integration.py
  python/tests/test_worktree_with_versioned_store.py
  src/diff.rs
  src/git/mod.rs
  src/git/worktree.rs
  src/python.rs
  tests/README.md
Due: license-check, cargo-fmt

✅ Completed Tasks:
  python/examples/langgraph_multi_agent_branching.py
Due: license-check

use WorktreeManager
  python/examples/langgraph_multi_agent_branching.py
  python/prollytree/__init__.py
Due: license-check

Implement Multi-Agent System with LangGraph Supervisor Pattern and Branch Isolation (#89)
  python/examples/langgraph_multi_agent_branching.py
  python/examples/run_examples.sh
  python/prollytree/__init__.py
Due: license-check

feat: Add LangMem integration example with branch-based memory isolation
  python/examples/langmem_integration.py
  python/examples/requirements.txt
  python/examples/run_examples.sh
Due: license-check

add langmem agent call
  python/examples/langmem_integration.py
Due: license-check

update python document to add the langmem example
  python/docs/examples.rst
Due: none

feat: Add LangMem integration example with branch-based memory isolation (#92)
  python/docs/examples.rst
  python/examples/langmem_integration.py
  python/examples/requirements.txt
  python/examples/run_examples.sh
Due: license-check

Initial commit
  Cargo.toml
  prolly_config_tree_config
  prolly_hash_mappings
  src/bin/prolly-ui.rs
  test-prolly-ui/prolly_config_tree_config
  test-prolly-ui/prolly_hash_mappings
Due: license-check, cargo-fmt

Initial data
  prolly_config_tree_config
  prolly_hash_mappings
  test-prolly-ui/prolly_config_tree_config
  test-prolly-ui/prolly_hash_mappings
Due: none

Add key3
  prolly_config_tree_config
  prolly_hash_mappings
  test-prolly-ui/prolly_config_tree_config
  test-prolly-ui/prolly_hash_mappings
Due: none

delete tmp file
  test-prolly-ui/prolly_config_tree_config
  test-prolly-ui/prolly_hash_mappings
Due: none

Implement prolly-ui tool
  prolly_config_tree_config
  prolly_hash_mappings
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

fix clippy and fmt errors
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

adjust page theme
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

feat: Add prolly-ui tool for interactive HTML visualization of git-prolly repositories (#93)
  Cargo.toml
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

Improve Prolly UI
  CLAUDE.md
Due: none

support multiple repo and datasets
  .gitignore
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

add dataset name to commit details
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

add test instructions
  CLAUDE.md
Due: none

improve commit diagram
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

rename example
  Cargo.toml
  examples/worktree.rs
Due: license-check, cargo-fmt

add prollytree ui output example
  .pre-commit-config.yaml
  examples/prollytree-ui.html
Due: none

Improve ProllyTree UI page layout (#94)
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  Cargo.toml
  examples/prollytree-ui.html
  examples/worktree.rs
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

Fix the prolly-ui logic to have one git repo but multiple datasets in it
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

fix commit details
  src/bin/prolly-ui.rs
Due: license-check, cargo-fmt

Path conditions:
  license-check: any of: \.(rs|py)$
  cargo-fmt: any of: \.rs$
