Repository zhangfengcdt/prollytree: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, cargo-fmt

license-check:
  name: License Header Check
  entry: scripts/check-license.sh
  language: script
  pass_filenames: true
  stages:
  - pre-commit

cargo-fmt:
  name: Cargo format
  entry: cargo fmt --all -- --check
  language: rust
  pass_filenames: false

implement blob-storage extension
  src/rocksdb/storage.rs
  src/storage/file.rs
  src/storage/memory.rs
  src/storage/mod.rs
  tests/blob_storage.rs
Due: license-check, cargo-fmt

wip
  src/git/versioned_store/namespaced.rs
  src/storage/externalize.rs
  src/storage/mod.rs
  tests/externalization.rs
Due: license-check, cargo-fmt

add deletion to external storage blob
  src/git/versioned_store/mod.rs
  src/git/versioned_store/namespaced.rs
  src/rocksdb/storage.rs
  src/storage/file.rs
  src/storage/memory.rs
  src/storage/mod.rs
  tests/externalization.rs
Due: license-check, cargo-fmt

add auto-cascase and central embedder ownership
  src/git/versioned_store/namespaced.rs
  tests/text_cascade.rs
Due: license-check, cargo-fmt

add set_value_transformer
  src/git/versioned_store/mod.rs
  src/git/versioned_store/namespaced.rs
  tests/text_cascade.rs
Due: license-check, cargo-fmt

add support for multi-chuncking
  src/git/versioned_store/namespaced.rs
  src/proximity/chunker.rs
  src/proximity/mod.rs
  src/proximity/text_index.rs
  tests/text_multichunk.rs
Due: license-check, cargo-fmt

add python bindings into the default packaging
  .github/workflows/python.yml
  .github/workflows/release.yml
  pyproject.toml
  python/prollytree/__init__.py
  python/tests/test_proximity.py
  src/git/versioned_store/namespaced.rs
  src/python.rs
Due: license-check, cargo-fmt

add new python examples
  python/README.md
  python/examples/namespaced_example.py
  python/examples/run_examples.sh
  python/examples/text_index_example.py
Due: license-check

fix a readme bug
  python/README.md
  python/examples/text_index_example.py
Due: license-check

add python and rust examples
  Cargo.toml
  examples/namespaced.rs
  examples/text_index.rs
Due: license-check, cargo-fmt

fix rust examples
  examples/storage.rs
  examples/worktree.rs
Due: license-check, cargo-fmt

clean up examples
  .github/workflows/python_examples.yml
  .github/workflows/rust_examples.yml
  docs/api/python.md
  docs/examples/index.md
  docs/examples/python.md
  docs/faq.md
  docs/quickstart.md
  python/build_python.sh
  python/docs/examples.rst
  python/examples/langgraph_example.py
  python/examples/langmem_example.py
  python/examples/requirements.txt
  python/examples/run_examples.sh
  python/examples/text_index_example.py
Due: license-check

fix pre-commit lint error
  examples/text_index.rs
  examples/worktree.rs
Due: license-check, cargo-fmt

update documents
  docs/api/python.md
  docs/architecture.md
  docs/examples/index.md
  docs/examples/text_search.md
  docs/index.md
  docs/text_search.md
  mkdocs.yml
  python/README.md
  python/docs/README.md
Due: none

fix lint errors
  docs/examples/python.md
Due: none

fix rust sql example
  examples/sql.rs
Due: license-check, cargo-fmt

bugfix: Inconsistent chunking defaults between node.rs constants and TreeConfig::default() (#180)
  src/config.rs
  src/node.rs
Due: license-check, cargo-fmt

revamp readme
  README.md
  docs/examples/text_search.md
  docs/text_search.md
  docs/text_search_demo.html
  python/README.md
Due: none

address copilot comments
  docs/text_search_demo.html
  src/proximity/chunker.rs
  src/proximity/minilm.rs
  src/proximity/mod.rs
  src/storage/file.rs
  src/storage/git.rs
Due: license-check, cargo-fmt

rephase readme files
  README.md
  python/README.md
Due: none

clean up
  README.md
Due: none

Deployed 978cc73 with MkDocs version: 1.6.1
  404.html
  api/python/index.html
  api/rust/index.html
  architecture/index.html
  basic_usage/index.html
  cli/index.html
  examples/basic/index.html
  examples/index.html
  examples/python/index.html
  examples/sql/index.html
  examples/text_search/index.html
  examples/versioning/index.html
  index.html
  installation/index.html
  quickstart/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  sql/index.html
  storage/index.html
  text_search/index.html
  text_search_demo.html
  theory/index.html
  theory/merkle/index.html
  theory/prolly_tree/index.html
  theory/rolling_hash/index.html
  theory/versioning/index.html
Due: none

Fix the conflict config files shared by VersionedKvStore and NamespacedKvStore
  src/git/versioned_store/backends.rs
  src/git/versioned_store/history.rs
  src/git/versioned_store/mod.rs
  src/git/versioned_store/namespaced.rs
Due: license-check, cargo-fmt

clean up comments
  src/git/versioned_store/backends.rs
  src/git/versioned_store/history.rs
  src/git/versioned_store/mod.rs
  src/git/versioned_store/namespaced.rs
Due: license-check, cargo-fmt

Fix the conflict config files shared by VersionedKvStore and NamespacedKvStore (#182)
  src/git/versioned_store/backends.rs
  src/git/versioned_store/history.rs
  src/git/versioned_store/mod.rs
  src/git/versioned_store/namespaced.rs
Due: license-check, cargo-fmt

Release v0.4.0
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Release v0.4.0 (#183)
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Bump version to 0.4.1-beta
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Bump deps: pyo3 0.22→0.28, bincode 1→2, lru, uuid, assert_cmd
  Cargo.lock
  Cargo.toml
  src/git/operations.rs
  src/git/types.rs
  src/git/versioned_store/core.rs
  src/lib.rs
  src/node.rs
  src/proximity/index.rs
  src/proximity/node.rs
  src/proximity/storage.rs
  src/proximity/text_index.rs
  src/python.rs
  src/rocksdb/storage.rs
  src/serde_bincode.rs
  src/storage/file.rs
  src/storage/git.rs
  src/storage/mod.rs
Due: license-check, cargo-fmt

Bump deps: pyo3 0.22→0.28, bincode 1→2, lru, uuid, assert_cmd (#184)
  Cargo.lock
  Cargo.toml
  src/git/operations.rs
  src/git/types.rs
  src/git/versioned_store/core.rs
  src/lib.rs
  src/node.rs
  src/proximity/index.rs
  src/proximity/node.rs
  src/proximity/storage.rs
  src/proximity/text_index.rs
  src/python.rs
  src/rocksdb/storage.rs
  src/serde_bincode.rs
  src/storage/file.rs
  src/storage/git.rs
  src/storage/mod.rs
Due: license-check, cargo-fmt

Enforce history independence via canonical rebuild after mutations
  src/node.rs
  src/tree.rs
  tests/history_independence.rs
Due: license-check, cargo-fmt

Extend history-independence tests to versioned and namespaced stores
  src/git/versioned_store/namespaced_tests.rs
  src/git/versioned_store/tests.rs
Due: license-check, cargo-fmt

Bench: document canonicalize stop-gap perf cost (3x-26x slower N=100-10k)
  docs/bench-canonicalize-impact.md
Due: none

Verify Tree::merge_trees / apply_merge_results inherit canonicalize
  src/tree.rs
Due: license-check, cargo-fmt

Batch commit-time mutations through one canonicalize per commit
  src/git/versioned_store/core.rs
  src/git/versioned_store/namespaced.rs
  src/tree.rs
Due: license-check, cargo-fmt

Step 3 follow-up: document the incremental-rebalance redesign needed
  docs/incremental-rebalance-roadmap.md
Due: none

docs: Dolt streaming-chunker analysis and ProllyTree port plan
  docs/dolt-streaming-chunker.md
Due: none

Replace canonicalize backend with streaming chunker (Dolt port, Phase 1)
  src/lib.rs
  src/streaming_chunker.rs
  src/tree.rs
Due: license-check, cargo-fmt

Cursor-driven apply_mutations replaces the legacy insert/delete path
  src/streaming_chunker.rs
  src/tree.rs
Due: license-check, cargo-fmt

Path conditions:
  license-check: any of: \.(rs|py)$
  cargo-fmt: any of: \.rs$
