Repository zhangfengcdt/prollytree: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, cargo-fmt

license-check:
  name: License Header Check
  entry: scripts/check-license.sh
  language: script
  pass_filenames: true
  stages:
  - pre-commit

cargo-fmt:
  name: Cargo format
  entry: cargo fmt --all -- --check
  language: rust
  pass_filenames: false

feat: Add get_keys_at_ref method to Python bindings for historical state access (#103)
  python/prollytree/prollytree.pyi
  src/git/versioned_store.rs
  src/python.rs
Due: license-check, cargo-fmt

Create release v0.3.1
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Bump version to v0.3.2-beta
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Add KvDiff - Represents a difference for a specific key, with properties
  python/tests/test_diff.py
  src/python.rs
Due: license-check, cargo-fmt

fix tests
  python/prollytree/prollytree.pyi
  python/tests/test_diff.py
Due: license-check

Add KvDiff - Represents a difference for a specific key, with properties (#104)
  python/prollytree/prollytree.pyi
  python/tests/test_diff.py
  src/python.rs
Due: license-check, cargo-fmt

Clean up python examples
  python/examples/langgraph_chronological.py
  python/examples/langgraph_multi_agent_branching.py
  python/examples/langmem_example.py
  python/examples/run_examples.sh
Due: license-check

Clean up python examples (#110)
  python/examples/langgraph_chronological.py
  python/examples/langgraph_multi_agent_branching.py
  python/examples/langmem_example.py
  python/examples/run_examples.sh
Due: license-check

[GH-111] Fix compilation with --no-default-features and upgrade gluesql-core to 0.19
  .github/workflows/ci.yml
  Cargo.toml
  examples/sql.rs
  src/git/git-prolly.rs
  src/lib.rs
  src/sql.rs
Due: license-check, cargo-fmt

prevent test failure due to parallel test execution race condition
  src/git/versioned_store.rs
Due: license-check, cargo-fmt

[GH-112] Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

[GH-111] Fix compilation with --no-default-features and upgrade gluesql-core to 0.19 (#123)
  .github/workflows/ci.yml
  Cargo.toml
  examples/sql.rs
  src/git/git-prolly.rs
  src/git/versioned_store.rs
  src/lib.rs
  src/sql.rs
Due: license-check, cargo-fmt

[GH-112] Add CONTRIBUTING.md (#124)
  CONTRIBUTING.md
Due: none

Fix build instability due to unanchored dependency versions
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
Due: none

Fix build instability due to unanchored dependency versions (#125)
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
Due: none

[GH-136] Standardize storage backend
  .gitignore
  src/git/operations.rs
  src/git/versioned_store.rs
  src/python.rs
Due: license-check, cargo-fmt

update docment
  python/README.md
  python/prollytree/prollytree.pyi
Due: none

address comments
  python/README.md
  python/prollytree/prollytree.pyi
  python/tests/test_versioned_kv.py
  src/git/versioned_store.rs
  src/python.rs
Due: license-check, cargo-fmt

Completed fixes:
  python/prollytree/prollytree.pyi
  src/git/versioned_store.rs
  src/python.rs
Due: license-check, cargo-fmt

- All storage backends (Git, File, InMemory, RocksDB) now support: - get_keys_at_ref() - retrieve keys at a specific commit - get_commits_for_key() - get commit history for a specific key
  src/git/versioned_store.rs
  src/python.rs
Due: license-check, cargo-fmt

Removed prolly_hash_mappings from File/InMemory/RocksDB backends
  python/prollytree/prollytree.pyi
  src/agent/persistence.rs
  src/git/versioned_store.rs
Due: license-check, cargo-fmt

fix comments
  src/git/versioned_store.rs
Due: license-check, cargo-fmt

Potential fix for pull request finding
  src/git/versioned_store.rs
Due: license-check, cargo-fmt

Potential fix for pull request finding
  src/python.rs
Due: license-check, cargo-fmt

fix resolve dir for workspace
  src/git/versioned_store.rs
Due: license-check, cargo-fmt

Implemented Generic Methods for All Backends
  CLAUDE.md
  python/prollytree/prollytree.pyi
  python/tests/test_versioned_kv.py
  src/git/versioned_store.rs
  src/python.rs
Due: license-check, cargo-fmt

update pyi comments
  python/prollytree/prollytree.pyi
Due: none

update python doc
  python/README.md
  python/prollytree/prollytree.pyi
Due: none

[GH-136] Standardize storage backend (#137)
  .gitignore
  CLAUDE.md
  python/README.md
  python/prollytree/prollytree.pyi
  python/tests/test_versioned_kv.py
  src/agent/persistence.rs
  src/git/operations.rs
  src/git/versioned_store.rs
  src/python.rs
Due: license-check, cargo-fmt

Fix 6 failing tests: merge commit signing and worktree init
  src/git/versioned_store.rs
  src/git/worktree.rs
Due: license-check, cargo-fmt

Migrate shell git calls to gix in production code
  src/git/versioned_store.rs
  src/git/worktree.rs
Due: license-check, cargo-fmt

GH-127 Remove Panics from Production Code
  Cargo.lock
  Cargo.toml
  src/agent/mem_lifecycle.rs
  src/agent/persistence.rs
  src/digest.rs
  src/encoding.rs
  src/errors.rs
  src/git/storage.rs
  src/git/versioned_store.rs
  src/git/worktree.rs
  src/node.rs
  src/python.rs
  src/rocksdb/storage.rs
  src/storage.rs
  src/tree.rs
Due: license-check, cargo-fmt

address copilot comments
  src/agent/mem_lifecycle.rs
  src/agent/persistence.rs
  src/digest.rs
  src/git/versioned_store.rs
Due: license-check, cargo-fmt

GH-127 Remove Panics from Production Code (#145)
  Cargo.lock
  Cargo.toml
  src/agent/mem_lifecycle.rs
  src/agent/persistence.rs
  src/digest.rs
  src/encoding.rs
  src/errors.rs
  src/git/storage.rs
  src/git/versioned_store.rs
  src/git/worktree.rs
  src/node.rs
  src/python.rs
  src/rocksdb/storage.rs
  src/storage.rs
  src/tree.rs
Due: license-check, cargo-fmt

move agent specific code to separate repository
  Cargo.toml
  README.md
  examples/README.md
  examples/agent.rs
  examples/data/README.md
  examples/data/conversation_data.json
  examples/data/conversation_data_financial.json
  examples/data/conversation_data_simple.json
  python/tests/test_agent.py
  src/agent/embedding_search.rs
  src/agent/mem_lifecycle.rs
  src/agent/mem_long_term.rs
  src/agent/mem_short_term.rs
  src/agent/mem_store.rs
  src/agent/mod.rs
  src/agent/persistence.rs
  src/agent/traits.rs
  src/agent/types.rs
  src/agent/versioned_persistence.rs
  src/lib.rs
  src/python.rs
Due: license-check, cargo-fmt

clean up python example and doc as well
  python/README.md
  python/docs/README.md
  python/docs/api.rst
  python/docs/examples.rst
  python/docs/index.rst
  python/docs/quickstart.rst
  python/prollytree/__init__.py
  python/prollytree/prollytree.pyi
Due: license-check

fix pre-commit errors
  python/docs/api.rst
Due: none

Path conditions:
  license-check: any of: \.(rs|py)$
  cargo-fmt: any of: \.rs$
