Repository zhangfengcdt/prollytree: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, cargo-fmt

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: license-check
        name: License Header Check
        entry: scripts/check-license.sh
        language: script
        files: \.(rs|py)$
        pass_filenames: true
        stages: [pre-commit]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: cargo-fmt
        name: Cargo format
        entry: cargo fmt --all -- --check
        language: rust
        files: \.rs$
        pass_filenames: false

Fix merge data corruption when Git backend is used
  src/git/versioned_store/history.rs
  src/git/versioned_store/tests.rs
Due: license-check, cargo-fmt

fix GH-161 — checkout left git status dirty
  src/git/versioned_store/backends.rs
  src/git/versioned_store/history.rs
  src/git/versioned_store/tests.rs
  src/storage/git.rs
Due: license-check, cargo-fmt

Fix GH-161 and GH-162 (#163)
  src/git/versioned_store/backends.rs
  src/git/versioned_store/history.rs
  src/git/versioned_store/tests.rs
  src/storage/git.rs
Due: license-check, cargo-fmt

Fix tree correctness bug surfaced by the GH-162 merge test
  .github/workflows/ci.yml
  src/node.rs
  src/tree.rs
Due: license-check, cargo-fmt

Fix tree correctness bug surfaced by the GH-162 merge test (#164)
  .github/workflows/ci.yml
  src/node.rs
  src/tree.rs
Due: license-check, cargo-fmt

Add releasin instruction document
  RELEASING.md
Due: none

add version consistence check on ci
  .github/workflows/ci.yml
  RELEASING.md
  scripts/check-version-consistency.sh
  src/git/git-prolly.rs
Due: license-check, cargo-fmt

Add releasin instruction document (#165)
  .github/workflows/ci.yml
  RELEASING.md
  scripts/check-version-consistency.sh
  src/git/git-prolly.rs
Due: license-check, cargo-fmt

Add Mkdocs-materials site and refactor document
  .github/workflows/docs.yml
  .gitignore
  README.md
  docs/_static/custom.css
  docs/api/python.md
  docs/api/rust.md
  docs/architecture.md
  docs/basic_usage.md
  docs/cli.md
  docs/examples/basic.md
  docs/examples/index.md
  docs/examples/python.md
  docs/examples/sql.md
  docs/examples/versioning.md
  docs/faq.md
  docs/git.md
  docs/index.md
  docs/installation.md
  docs/quickstart.md
  docs/requirements.txt
  docs/sql.md
  docs/theory/index.md
  docs/theory/merkle.md
  docs/theory/prolly_tree.md
  docs/theory/rolling_hash.md
  docs/theory/versioning.md
  mkdocs.yml
Due: none

fix pre-commit lint
  .pre-commit-config.yaml
Due: none

Add Mkdocs-materials site and refactor document (#166)
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/_static/custom.css
  docs/api/python.md
  docs/api/rust.md
  docs/architecture.md
  docs/basic_usage.md
  docs/cli.md
  docs/examples/basic.md
  docs/examples/index.md
  docs/examples/python.md
  docs/examples/sql.md
  docs/examples/versioning.md
  docs/faq.md
  docs/git.md
  docs/index.md
  docs/installation.md
  docs/quickstart.md
  docs/requirements.txt
  docs/sql.md
  docs/theory/index.md
  docs/theory/merkle.md
  docs/theory/prolly_tree.md
  docs/theory/rolling_hash.md
  docs/theory/versioning.md
  mkdocs.yml
Due: none

[GH-167] Fix the store write issues when not in a git reository
  src/git/operations.rs
  src/git/versioned_store/core.rs
  src/git/versioned_store/tests.rs
Due: license-check, cargo-fmt

[GH-167] Fix the store write issues when not in a git reository (#168)
  src/git/operations.rs
  src/git/versioned_store/core.rs
  src/git/versioned_store/tests.rs
Due: license-check, cargo-fmt

Clean up readme and claude file
  CLAUDE.md
  README.md
Due: none

Clean up readme and claude file (#169)
  CLAUDE.md
  README.md
Due: none

Release v0.3.3
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Release v0.3.3 (#170)
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Bump dev version to 0.3.4-snapshot
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

use beta to replace snapshot
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Bump dev version to 0.3.4-snapshot (#171)
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Add rocksdb as default python packaging in releases
  .github/workflows/release.yml
  pyproject.toml
  python/build_python.sh
Due: none

add pytests for rocksdb backend
  .github/workflows/python.yml
  python/tests/test_versioned_kv.py
Due: license-check

add more end to end tests
  .github/workflows/python.yml
  python/tests/test_versioned_kv.py
Due: license-check

fix ci build
  .github/workflows/python.yml
  .github/workflows/release.yml
Due: none

address copilot comments
  python/build_python.sh
  python/tests/test_versioned_kv.py
Due: license-check

[GH-159] Add rocksdb as default python packaging in releases (#177)
  .github/workflows/python.yml
  .github/workflows/release.yml
  pyproject.toml
  python/build_python.sh
  python/tests/test_versioned_kv.py
Due: license-check

Release v0.3.4
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Fix aarch64 wheel build: install glibc-devel + g++ for librocksdb-sys
  .github/workflows/python.yml
  .github/workflows/release.yml
Due: none

drop rocksdb support on aarch64
  .github/workflows/release.yml
Due: none

Release v0.3.4 (#178)
  .github/workflows/python.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

Bump version to 0.3.5-beta
  Cargo.lock
  Cargo.toml
  README.md
  pyproject.toml
  python/docs/conf.py
  python/prollytree/__init__.py
  src/bin/prolly-ui.rs
  src/lib.rs
Due: license-check, cargo-fmt

bugfix: Inconsistent chunking defaults between node.rs constants and TreeConfig::default()
  src/config.rs
  src/node.rs
Due: license-check, cargo-fmt

Add vector indexing and searching support to namespaced store
  Cargo.toml
  src/lib.rs
  src/proximity/distance.rs
  src/proximity/index.rs
  src/proximity/level.rs
  src/proximity/mod.rs
  src/proximity/node.rs
  src/proximity/storage.rs
  src/storage/git.rs
  src/storage/mod.rs
  tests/proximity_persistence.rs
Due: license-check, cargo-fmt

limit proximity storage backedn only supports file-based and rocksdb-based
  tests/proximity_persistence.rs
Due: license-check, cargo-fmt

implement the api surface
  src/git/versioned_store/mod.rs
  src/git/versioned_store/namespaced.rs
  src/proximity/index.rs
  src/proximity/mod.rs
  tests/proximity_namespaced.rs
Due: license-check, cargo-fmt

wip
  src/git/types.rs
  src/git/versioned_store/namespaced.rs
  src/proximity/index.rs
  src/proximity/merge.rs
  src/proximity/mod.rs
  tests/proximity_namespaced.rs
Due: license-check, cargo-fmt

implement texindex api and namespaced lifecycle
  src/git/versioned_store/mod.rs
  src/git/versioned_store/namespaced.rs
  src/proximity/embedder.rs
  src/proximity/mod.rs
  src/proximity/text_index.rs
  tests/text_index_namespaced.rs
Due: license-check, cargo-fmt

pr4b wire embeddin model
  Cargo.lock
  Cargo.toml
  src/proximity/minilm.rs
  src/proximity/mod.rs
  tests/text_index_minilm.rs
Due: license-check, cargo-fmt

added chunker functions
  src/git/versioned_store/mod.rs
  src/git/versioned_store/namespaced.rs
  src/proximity/chunker.rs
  src/proximity/mod.rs
  tests/text_index_namespaced.rs
Due: license-check, cargo-fmt
